include LICENSE
include README.md
include CHANGELOG.rst
recursive-include copypharm *.py

exclude tox.ini
exclude run.sh
exclude backup.sh
exclude pyproject.toml
exclude .readthedocs.yaml
exclude .docstr.yaml
recursive-exclude tests *
recursive-exclude requirements *
recursive-exclude docs *
recursive-exclude samples_app *